


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   font-family: "roboto";
}
header {
    z-index: 1;
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-bottom: 1.5px solid #cccccc;
    padding: 0 20px;
}
header h1 {
    color: #6b6b6b;
}
.nav-and-btns {
    display: flex;
    gap: 60px;
    align-items: center;
}
.nav-links {
    display: flex;
    gap: 35px;
}
.nav-links li {
    list-style: none;
}
.nav-links li a {
    text-decoration: none;
    color: #6b6b6b;
}
.nav-links li a:hover {
    color: blue;
    text-decoration: underline;
}
.btn {
    display: flex;
    background: blue;
    color: white;
    width: 100px;
    align-items: center;
    justify-content: center;
    height: 25px;
    flex: 2 1 300px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:active {
    background: rgb(94, 94, 255);
}
.hamburger {
    display: none;
    flex-direction: column;
    gap: 3px;
    margin-right: 20px;
    cursor: pointer;
}

#bar {
    width: 20px;
    height: 3px;
    background: black;
}
@media (max-width: 768px){
    header {
        display: block;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-and-btns {
        margin-top: 10px;
        display: none;
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
    }
    .hamburger {
        display: flex;
        position: fixed;
        right: 20px;
        top: 10px;
    }
    .btn {
      display: flex;
      flex-grow: 2;
      margin-bottom: 20px;
    }
    .nav-and-btns.show {
        display: flex;
    }
    .m0 {
        transform: translateY(7px) rotate(45deg)
    }
    .m1{
        opacity: 0;
    }
    .m2 {
        transform: translateY(-5px) rotate(-45deg)
    }
}
main {
   display: flex;
   flex-direction: column;
  
}
.first-section {
    position: relative;
    top: 40px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-section {
    display: flex;
}
.header-section h1 {
    color: black;
    font-size: clamp(0.5rem, 5vw, 5rem);
}
.header-section h1 span {
    color: blue;
}
.section-p {
    color: #6b6b6b;
    font-size: clamp(0.5rem, 3vw, 4rem);
    margin-top: 50px;
    margin-bottom: 50px;

}
.views {
    display: flex;
    gap: 25px;
}
.views button:nth-child(1){
    background: black;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: none;
}
.views button:nth-child(2){
    background: white;
    color: black;
    border: 1.5px solid #cccccc;
    ;
    width: 150px;
    height: 40px;
    border-radius: 5px;
}
.arrow {
    margin-top: 0;
    width: 100%;
    padding: 0px;
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow svg {
    position: relative;
    width: 50px;
    height: 30px;
    color: #6b6b6b;
    animation: motsi 0.5s linear infinite alternate;
}
@keyframes motsi {
    0%{transform: translateY(0);
      animation-timing-function: ease-in;
    }
    100%{
        transform: translateY(20px);
        animation-timing-function: ease-in-out;
    }
}
.second-section{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.second-section h1 {
    margin-bottom: 50px;
}
.img-info {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    flex-basis: 500px;
    flex-wrap: wrap;
    flex-grow: 1;
}
.img-section {
   flex: 1 2 400px;
   max-width: 500px;
   height: 400px;
   border-radius: 10px;
   justify-content: center;
  align-items: center;
   overflow: hidden;
}
.img-section img {
    width: 100%;
    height: 100%;
    
}
.info-section {
    display: flex;
    gap: 30px;
    flex-direction: column;
    max-width: 500px;
    font-size: 1rem;
    align-items: center;
    flex: 1 2 400px;
    max-height: 1000px;
}
.buttons {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    flex-shrink: 1;
}
.buttons button {
    padding: 1em 1.5em;
    border: none;
    border-radius: 10px;
    background: #e7e7ff;
    color: black;
}
.featured {
    font-size: 0.7em;
    padding: 5em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    gap: 100px;
    margin-bottom: 100px;
    background: #f1f1f1;
}
.head {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
}
.featured-content {
  
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-shrink: 2;
    grid-template-columns: repeat(3, 1fr);
}
@media(max-width: 2000px){
    .featured-content{
         grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 1200px){
    .featured-content {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 820px){
    .featured-content {
        grid-template-columns: repeat(1, 1fr);
    }
}

.e-commarce {
     display: flex;
    flex-direction: column;
    max-width: 400px;
    border: 1.5px solid #cccccc;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    min-height: 500px;
    transition: all 0.3s ease;
}
.e-commarce:hover {
    box-shadow: 0px 0px 15px #6b6b6b;
}
.e-commarce img {
    width: 100%;
    height: 50%;
    transition: 0.3s ease;
}
.e-commarce img:hover {
    transform: scale(1.1);
}

.dashboard {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    border: 1.5px solid #cccccc;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    min-height: 500px;
    transition: all 0.3s ease;
}
.dashboard:hover {
    box-shadow: 0px 0px 15px #6b6b6b;
}
.dashboard img {
    width: 100%;
    height: 50%;
    transition: 0.3s ease;
}
.dashboard img:hover {
    transform: scale(1.1);
}
.h1-class {
    background: rgb(255, 255, 255);
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
}
.p-class {
    width: 100%;
    padding: 1rem;
    margin-bottom: 15px;
}
.design-System {
     display: flex;
    flex-direction: column;
    max-width: 400px;
    border: 1.5px solid #cccccc;
    border-radius: 25px;
    background: white;
    overflow: hidden;
    min-height: 500px;
    transition: all 0.3s ease;
}
.design-System:hover {
    box-shadow: 0px 0px 15px #6b6b6b;
}
.design-System img {
    width: 100%;
    height: 50%;
    transition: 0.3s ease;
}
.design-System img:hover {
    transform: scale(1.1);
}
.e-buttons , .d-buttons , .des-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
}
.e-buttons button, .d-buttons button, .des-buttons button {
    background: #e7e7ff;
    border: none;
    padding: 0.5em 1em;
    border-radius: 10px;
    margin-left: 15px;
}
.second-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    padding: 1em;
    gap: 10px;
}
.second-buttons button {
    width: 50%;
    height: 30px;
    border-radius: 5px;
    border: 1.5px solid #cccccc;
}
.second-buttons button:nth-child(2){
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.code {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.code svg {
    width: 16px;
}
.demo {
    width: 17px;
    height: 17px;
}
.Expertise {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}
.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.content button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #e7e7ff;
    color: rgb(89, 89, 124);
    border: none;
    border-radius: 5px;
    margin-top: -50px;
}
.content button svg {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.container {
    background: rgb(11, 226, 11);
    align-items: center;
    display: flex;
    height: 150px;
    justify-content: space-around;
}
.n1 {
    display: flex;
    flex-direction: column;
    gap: 25px;
}